/* color palette from <https://github.com/vuejs/theme> */
:root {
    --vt-c-white: #ffffff;
    --vt-c-white-soft: #d9d9d9;
    --vt-c-white-2: #EBEBEB;

    --vt-c-black: #181818;
    --vt-c-black-soft: #222222;
    --vt-c-black-mute: #282828;

    --vt-c-indigo: #2c3e50;

    --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
    --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
    --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
    --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

    --vt-c-text-light-1: #3C3C50;
    --vt-c-text-light-2: var(--vt-c-indigo);
    --vt-c-text-dark-1: var(--vt-c-white-soft);
    --vt-c-text-dark-2: var(--vt-c-white-2);
    --vt-c-text-dark-3: var(--vt-c-white);
}

/* semantic color variables for this project */
:root {
    --color-background: var(--vt-c-white);
    --color-background-soft: var(--vt-c-white-soft);
    --color-background-2: var(--vt-c-white-2);

    --color-background-dark: #37474F;
    --color-background-dark-2: #505D6A;
    --color-background-disabled: #A0A0A0;


    --color-border: var(--vt-c-divider-light-2);
    --color-border-hover: var(--vt-c-divider-light-1);

    --color-heading: var(--vt-c-text-dark-2);
    --color-text: var(--vt-c-text-dark-1);

    --color-text-light: var(--vt-c-text-light-1);
    --color-heading-light: var(--vt-c-text-light-2);

    --color-text-disabled: #677685;

    --section-gap: 160px;

    --color-success-20: rgba(0, 255, 0, 0.2);
    --color-error-15: rgba(255, 0, 0, 0.15);
    --color-warning-15: rgba(255, 255, 0, 0.15);


    --color-active: rgba(0, 255, 0, 0.7);
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --color-background: var(--vt-c-black);*/
/*    --color-background-soft: var(--vt-c-black-soft);*/
/*    --color-background-mute: var(--vt-c-black-mute);*/

/*    --color-border: var(--vt-c-divider-dark-2);*/
/*    --color-border-hover: var(--vt-c-divider-dark-1);*/

/*    --color-heading: var(--vt-c-text-dark-1);*/
/*    --color-text: var(--vt-c-text-dark-2);*/
/*  }*/
/*}*/

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}

body {
    min-height: 100vh;
    color: var(--color-text);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("./images/background.png") center center / cover;
    transition: color 0.5s,
    background-color 0.5s;
    line-height: 1.6;
    font-family: "Roboto Condensed", "IM Fell English", serif;
    font-size: 14px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
