// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";
@import "primeicons/primeicons.css";

button {
  background-color: var(--color-background-soft);
  border-radius: 0.25rem;
  padding: 0.5rem;
  display: flex;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.15);
  font-weight: 600;
  align-items: center;
  justify-content: center;
  border: 1px transparent;
  font-size: 1rem;
  color: var(--color-text-light);

  &.secondary {
    background-color: var(--color-background-dark-2);
    color: var(--color-text);
  }

  &.disabled {
    background-color: var(--color-background-disabled);
    color: var(--color-text-disabled);
    pointer-events: none;
  }

  &.icon-button {
    background-color: transparent;
    width: fit-content;
    height: fit-content;
    box-shadow: none;
    padding: 0;
  }
}

.container-with-background {
  display: flex;
  flex-direction: column;
  background-color: var(--color-background-dark);
  padding: 1rem 2rem 2rem 2rem;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.25rem 0.25rem rgba(0, 0, 0, 0.15);
}

ul, .card-list {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.card {
  display: flex;
  flex-direction: row;
  padding: 0.25rem;
  background-color: var(--color-background-soft);
  color: var(--color-text-light);
  width: 100%;

  .card-text-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    .card-title {
      font-weight: 600;
      font-size: 1rem;
      margin-bottom: 0;
      color: var(--color-text-light);
    }
  }

  .card-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.button-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  > * {
    flex-basis: 100%;
  }
}

.pi {
  color: var(--color-text);

  &.dark {
    color: var(--vt-c-text-light-2)
  }
}

.icon-button {
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  background-color: var(--color-background-dark-soft);

  .form-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0;
    position: relative;

    .form-label {
      margin-bottom: 0.25rem;
    }

    .form-control {
      padding: 5px;
      border: none;
      line-height: normal;
      background-color: var(--color-background-soft);
      border-radius: 0.25rem;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);

      &:focus {
        background-color: var(--color-background-soft);
        border-color: var(--color-border);
        box-shadow: none;
      }
    }

    .select-icon {
      color: var(--color-text-light);
      position: absolute;
      bottom: 0.325rem;
      right: 0.325rem;
      z-index: 1;
    }
  }
}

.form-header {
  color: var(--color-heading);
  font-weight: 800;
  font-size: 1.5rem;
}

.sub-header {
  color: var(--color-heading);
  font-weight: 500;
  font-size: 1rem;
  display: block;
}

.minimal-input {
  background: transparent;
  border: transparent;
  border-radius: 0.15rem;
  border-bottom: solid 2px var(--vt-c-divider-dark-2);
  width: 3rem;
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 0;
  color: var(--color-text-light);
  text-align: end;
  height: 1.5rem;

  &:focus-visible {
    background: var(--color-background-2);
    outline: none;
    border-bottom: solid 2px var(--vt-c-divider-dark-1);
  }
}