// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";
@import "primeicons/primeicons.css";

button {
  background-color: var(--color-background-soft);
  border-radius: 0.25rem;
  padding: 0.5rem;
  display: flex;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.15);
  font-weight: 600;
  align-items: center;
  justify-content: center;
  border: 1px transparent;
  color: var(--color-text-light);

  &.secondary {
    background-color: var(--color-background-dark-2);
    color: var(--color-text);
  }

  &.disabled {
    background-color: var(--color-background-disabled);
  }

  &.icon-button {
    background-color: transparent;
    width: fit-content;
    height: fit-content;
    box-shadow: none;
    padding: 0;
  }
}

.disabled {
  color: var(--color-text-disabled);
  pointer-events: none;
}

.container-with-background {
  display: flex;
  flex-direction: column;
  background-color: var(--color-background-dark);
  padding: 1rem 2rem 2rem 2rem;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.25rem 0.25rem rgba(0, 0, 0, 0.15);
}

ul, .card-list {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.card {
  display: flex;
  flex-direction: row;
  padding: 0.25rem;
  background-color: var(--color-background-soft);
  color: var(--color-text-light);
  width: 100%;

  .card-text-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    .card-title {
      font-weight: 600;
      font-size: 1rem;
      margin-bottom: 0;
      color: var(--color-text-light);
    }
  }

  .card-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.button-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  > * {
    flex-basis: 100%;
  }
}

.pi, a {
  text-decoration: none;
  color: var(--color-text);

  &.dark {
    color: var(--vt-c-text-light-2)
  }

  &.disabled {
    color: var(--color-text-disabled);
  }
}

.icon-button {
  cursor: pointer;
}

.back-button {
  margin-top: 0.5rem;
  margin-left: -0.5rem;
}

.dark {
  color: var(--vt-c-text-light-2)
}

form {
  display: flex;
  flex-direction: column;
  background-color: var(--color-background-dark-soft);

  .form-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0;
    position: relative;

    &.checkbox {
      flex-direction: row;
      line-height: normal;
      gap: 0.25rem
    }

    .form-label {
      margin-bottom: 0.25rem;
    }

    .form-control {
      padding: 5px;
      border: none;
      line-height: normal;
      background-color: var(--color-background-soft);
      border-radius: 0.25rem;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);

      &:focus {
        background-color: var(--color-background-soft);
        border-color: var(--color-border);
        box-shadow: none;
      }

      &.disabled {
        pointer-events: none;
        color: var(--color-text-disabled);
        background-color: var(--color-background-disabled-light);
      }

      &[type="checkbox"] {
        -webkit-appearance: none;
        appearance: none;
        background-color: transparent;
        margin: 0;

        height: 1.25rem;
        width: 1.25rem;
        font: inherit;
        color: var(--color-background-soft);
        border: 0.15em solid var(--color-background-soft);
        border-radius: 0.15em;
        transform: translateY(-0.075em);
        display: grid;
        place-content: center;

        &::before {
          content: "";
          width: 0.65em;
          height: 0.65em;
          transform: scale(0);
          transition: 120ms transform ease-in-out;
          transform-origin: bottom left;
          clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
          background-color: var(--color-background-soft);
        }

        &:checked::before {
          transform: scale(1);
        }

        &:disabled {
          border-color: var(--color-background-disabled);
          color: var(--color-background-disabled);
          cursor: not-allowed;

          &::before {
            background-color: var(--color-background-disabled);
          }
        }
      }
    }

    .select-icon {
      color: var(--color-text-light);
      position: absolute;
      bottom: 0.325rem;
      right: 0.325rem;
      z-index: 1;
    }
  }
}

.form-header {
  color: var(--color-heading);
  font-weight: 800;
  font-size: 1.5rem;
}

.sub-header {
  color: var(--color-heading);
  font-weight: 500;
  font-size: 1rem;
  display: block;

  * {
    color: var(--color-heading);
    font-weight: 500;
    font-size: 1rem;
    display: block;
  }
}

.minimal-input {
  background: transparent;
  border: transparent;
  border-radius: 0.15rem;
  border-bottom: solid 2px var(--vt-c-divider-dark-2);
  width: 3rem;
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 0;
  color: var(--color-text-light);
  text-align: end;
  height: 1.5rem;

  &:focus-visible {
    background: var(--color-background-2);
    outline: none;
    border-bottom: solid 2px var(--vt-c-divider-dark-1);
  }
}